<div id="skeleton-form">
  <%= render 'layouts/errors', :object => @skeleton %>
  <%= form_for [@closet, @skeleton], remote: true do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, {class: "form-control"}  %>
  </div>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, {class: "form-control"}  %>
  </div>
  <div class="form-group">
    <%= f.label :hide_in_closet %>
    <%= f.check_box :hide %>
  </div>
  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>
  <p><%= f.submit nil, {class: "btn btn-default"} %></p>
  <% end %>
</div>
