<!DOCTYPE html>
<html>
  <head>
    <title>SkeletonCloset</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <nav>
        <h1><%= link_to '💀', '/' %></h1>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>
