<!DOCTYPE html>
<html>
  <head>
    <title>SkeletonCloset</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
  </head>

  <body>
    <div class="jumbotron">
      <div id="skull"><h1><%= link_to '💀', '/' %></h1></div>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
